<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <!-- <th class="imsak_h">{{periods[0].period}}</th> -->
                <th class="subuh_h">{{periods[0].period}}</th>
                <th class="syuruk_h">{{periods[1].period}}</th>
                <th class="zohor_h">{{periods[2].period}}</th>
                <th class="asar_h">{{periods[3].period}}</th>
                <th class="maghrib_h">{{periods[4].period}}</th>
                <th class="isyak_h">{{periods[5].period}}</th>
            </tr>
            <tr>
                <!-- <td class="imsak_t">
                    {{periods[0].time}}
                </td> -->
                <td class="subuh_t">
                    {{periods[0].time}}
                </td>
                <td class="syuruk_t">
                    {{periods[1].time}}
                </td>
                <td class="zohor_t">
                    {{periods[2].time}}
                </td>
                <td class="asar_t">
                    {{periods[3].time}}
                </td>
                <td class="maghrib_t">
                    {{periods[4].time}}
                </td>
                <td class="isyak_t">
                    {{periods[5].time}}
                </td>
            </tr>
        </table>
    </div>
</div>