footer{
    color: white;
    bottom: 0px;
    position:absolute;
    height: 350px;
    width: 100%;
}

.info_left{
    border-top-right-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    text-align: left;
    color: black;
}

.info_right{
    border-top-left-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    text-align: right;
    color: black;
}


.scrolling_container{
    padding-top: 0.25rem;
    height: 78px;
    overflow: hidden;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.425);
}

.scrolling_text{
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
  