<div class="container-fluid login_container">
    <div class="login_card">
        <h3 class="header col-12 text-center">TVSOLAT 1.0</h3>
        <h3 class="ip col-12 text-center">IP: 192.168.0.250</h3>
        <div class="col-12">
            <h5 class="password_title">
                Kata Laluan
            </h5>
            <input 
                type="password" 
                name="password" 
                id="password"
                class="input_form form-control">
        </div>
        <div class="col-12">
            <button class="btn btn-primary action_button">LOGIN</button>
        </div>
    </div>
</div>