<div class="container-fluid page">
    <div class="col-12 title">
        <h1>
            Menu
        </h1>
    </div>
    <div class="menu">
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(1)">
                File Media
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(2)">
                Latar Belakang
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(3)">
                Pemberitahuan
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item " (click)="selectedMenu(4)">
                Khutbah
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(5)">
                Kalender Islam
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(6)">
                Full Skrin
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(7)">
                Teks
            </button>
        </div>
        <div class="col-6">
            <button class="menu_item" (click)="selectedMenu(8)">
                Tetapan
            </button>
        </div>
        
    </div>
</div>