<div class="container-fluid setting">
    <div class="col-12 title">
        <button class="back-button" (click)="backToMenu()">
            ≡
        </button>
        <h1 class="col-10">
            Setting
        </h1>
    </div>
    <div class="col-12">
        <button class="setting_item" (click)="select_setting(1)">
            Identiti & Lesen
        </button>
    </div>
    <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(2)">
            Jam & Waktu Solat
        </button>
    </div>
    <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(3)">
            Templat Layout
        </button>
    </div>
    <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(4)">
            Alarm & Buzzer
        </button>
    </div>
    <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(5)">
            Iqamah
        </button>
    </div>
    <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(6)">
            Masa Senyap
        </button>
    </div>
    <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(7)">
            Pembetulan
        </button>
    </div>
    <!-- <div class="col-md-12">
        <button class="setting_item" (click)="select_setting(8)">
            Event
        </button>
    </div> -->
</div>