.time_setting_section{
    /* border: 1px solid; */
    background-color: rgb(237, 237, 237);
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: 2.5px 2.5px 2.5px rgb(180, 180, 180);
}